# This .gitignore file should be placed at the repo root, project is in /Battleships
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#

# Unity generated folders
/Battleships/[Ll]ibrary/
/Battleships/[Tt]emp/
/Battleships/[Oo]bj/
/Battleships/[Bb]uild/
/Battleships/[Bb]uilds/
/Battleships/[Ll]ogs/
/Battleships/[Uu]ser[Ss]ettings/
/Battleships/*.log
/Battleships/.utmp/

# MemoryCaptures
/Battleships/[Mm]emoryCaptures/

# Recordings
/Battleships/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /Battleships/[Aa]ssets/AssetStoreTools*

# Jetbrains Rider plugin
/Battleships/[Aa]ssets/Plugins/Editor/JetBrains*

# IDE and build tools
/Battleships/.vs/
/Battleships/.gradle/
/Battleships/ExportedObj/
/Battleships/.consulo/
/Battleships/*.csproj
/Battleships/*.unityproj
/Battleships/*.sln
/Battleships/*.suo
/Battleships/*.tmp
/Battleships/*.user
/Battleships/*.userprefs
/Battleships/*.pidb
/Battleships/*.booproj
/Battleships/*.svd
/Battleships/*.pdb
/Battleships/*.mdb
/Battleships/*.opendb
/Battleships/*.VC.db

# Unity3D generated meta files
/Battleships/*.pidb.meta
/Battleships/*.pdb.meta
/Battleships/*.mdb.meta

# Crash reports
/Battleships/sysinfo.txt

# Build outputs
/Battleships/*.apk
/Battleships/*.aab
/Battleships/*.unitypackage
/Battleships/*.unitypackage.meta
/Battleships/*.app

# Crashlytics
/Battleships/crashlytics-build.properties

# Addressables
/Battleships/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Android StreamingAssets
/Battleships/[Aa]ssets/[Ss]treamingAssets/aa.meta
/Battleships/[Aa]ssets/[Ss]treamingAssets/aa/*